.base {
    stroke-width: 1;
    stroke: rgb(0, 0, 0)
}

.loading {
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        fill: #8b9eff;
    }

    50% {
        fill: #0c32af;
    }
}